---
import { getCollection, render } from 'astro:content'
import Layout from '~/layouts/Layout.astro'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const legalEntries = await getCollection('legal')
  return legalEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { Content } = await render(entry)
---

<Layout title={entry.data.title}>
  <article class="max-w-full py-7.5 prose dark:prose-invert mx-auto">
    <Content />
    <hr class="my-8 border-accent/10" />
    <p class="text-sm text-gray-500 italic">
      Last updated: {
        entry.data.updated.toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })
      }
    </p>
  </article>
</Layout>
